<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first">Multiply this:</label>
  <input
  name="first_number"
  id="first"
  >

  <label for="second">by this:</label>
  <input
  name="second_number"
  id="second"
  >

  <button>Multiply!</button>
</form>