<h1>Street address to coordinates calculation</h1>

<form action="/street_to_coords/results">
<label for="address">Street Address
</label>
<input id="address" name="user_address" placeholder="Enter the address">

<div>
  <button>Lookup Coordinates!</button>
</div>
</form>