<h1>Street address to coordinates results</h1>

<dt>
  <dt>Street Address</dt>
  <dd><%= @address %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>
</dt>